%heading {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
    margin-top: 0;
}

%heading-accent {
    background-color: var(--color-daisy);
    display: inline-block;
    padding: 0.5em 1em 0.325em;
}