/**
* variables
*/

// grayscale

$color-white: #fff;
$color-gray-100: #f3f4f6;
$color-gray-200: #eee;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-700: #374151;
$color-gray-800: #111827;
$color-gray-900: #030712;

// colors

$color-pine-green: #006d77;
$color-half-baked: #83c5be;
$color-mischka: #edf6f9;
$color-watsui: #ffddd2;
$color-pink: #e29578;
$color-amaranth: #a5243d;
$color-space-cadet: #1b264f;

// theme

$color-error: $color-amaranth;
$color-info: $color-space-cadet;
$color-success: $color-pine-green;

// space

$grid-gutter-sm: 1.25rem;
$grid-gutter-lg: 2rem;

// breakpoints

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1000px,
  xl: 1200px,
  xxl: 1540px,
);

// body

$color-body: $color-gray-800;
$body-font-weight: 400;
$body-line-height: 1.4;
$container: 1380px;

// type

$font-family-monospace: "Roboto Mono", sans-serif;
$font-family-accent: "Playfair Display", Georgia, serif;

$heading-font-family: $font-family-accent;
$heading-font-weight: 700;
$heading-line-height: 1.25;

$link: $color-pine-green;
$link-hover: $color-pink;
