$color-white: #FFF;
$color-gray-600: #8F8F8F;
$color-gray-800: #151515;

$color-daisy: #EABA34;
$color-body: $color-gray-800;
$color-picton: #82A7CA;
$color-romance: #F6F1EB;
$color-mariner: #3C5DA3;

$body-font-weight: 300;
$body-line-height: 1.4;

$link: $color-picton;
$link-hover: $color-daisy;

$font-family-sans-serif: "Inter", sans-serif;
$font-family-accent: "Josefin Sans", Georgia, serif;

$heading-font-family: $font-family-accent;
$heading-font-weight: 600;
$heading-line-height: 1.25;

$container-max-width: 1216px;
$container-padding-x: 1.25rem;
$grid-gutter: $container-padding-x * 2;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 1000px,
    xl: 1200px,
);