/**
* variables
*/


// grayscale

$color-white: #FFF;
$color-gray-200: #EEE;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-700: #374151;
$color-gray-800: #111827;
$color-gray-900: #030712;

// color
// https://coolors.co/palette/006d77-83c5be-edf6f9-ffddd2-e29578
$color-pine-green: #006D77;
$color-half-baked: #83C5BE;
$color-mischka: #edf6f9;
$color-watsui: #ffddd2;
$color-pink: #E29578;
$color-space-cadet: #1B264F;
$color-amaranth: #A5243D;


// theme

$color-error: $color-amaranth;
$color-info: $color-space-cadet;
$color-success: $color-pine-green;


// space

$grid-gutter-sm: 1.25rem;
$grid-gutter-lg: 2rem;


// breakpoints

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 1000px,
    xl: 1200px,
    xxl: 1540px
);


// body

$color-body: $color-gray-800;
$body-font-weight: 400;
$body-line-height: 1.4;
$container: 1380px;


// type

$font-family-sans-serif: "Roboto Mono", sans-serif;
$font-family-accent: "Playfair Display", Georgia, serif;

$heading-font-family: $font-family-accent;
$heading-font-weight: 700;
$heading-line-height: 1.25;

$link: $color-pine-green;
$link-hover: $color-pink;
