.cards {
    $b: &;


    &__wrapper {
        @extend %grid;

        grid-template-columns: var(--grid-columns-main);
        grid-column: main;
    }

    &__item {
        grid-column: main;

        @include at(lg) {
            grid-column: auto / span 6;
        }

        @include at(xxl) {
            grid-column: auto / span 4;
        }
    }

    &__card {
        height: 100%;
    }
}
