.card {
    $b: &;

    height: 100%;

    &__body {
        background-color: var(--color-white);
        height: 100%;
    }

    &__wrapper {
        @extend %grid;

        --grid-custom-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
        --grid-row-gap: 0;

        height: 100%;
    }

    &__media {
        @extend %grid;

        --grid-column-gap: 0;

        align-items: center;
        background-image: radial-gradient(
            var(--color-amaranth) 0.9px,
            var(--color-pink) 0.9px
        );
        background-size: 18px 18px;
        grid-column: span 12;

        @include at(sm) {
            grid-column: auto / span 5;
        }
    }

    &__image {
        clip-path: polygon(12% 0, 100% 0, 100% 88%, 88% 100%, 0 100%, 0 12%);
        grid-column: 2 / span 10;

        @include at(sm) {
            grid-column: 1 / -1;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        grid-column: span 12;
        padding: var(--space-m);
        row-gap: var(--space-m);

        @include at(sm) {
            grid-column: auto / span 7;
            padding-left: 0;
        }
    }

    &__heading {
        @extend %heading;

        font-size: var(--step-1);
        margin-bottom: 0;
    }

    &__torso {
        display: grid;
        row-gap: var(--space-m);
    }

    &__subheading {
        @extend %heading;

        --heading-font-family: var(--font-family-monospace);
        --heading-font-weight: 600;

        font-size: var(--step--1);
        letter-spacing: 0.0175em;
        margin-bottom: 0.625em;
        text-transform: uppercase;
    }

    &__list {
        display: grid;
        row-gap: 0.325rem;
    }

    &__listItemUnit {
        margin-right: 0.5ch;
    }
}
