.listing {
    $b: &;

    padding: 2rem 0;

    &__list {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__listItem {
        flex: 0 0 auto;
        width: 20%;
    }

    // &__heading {
    //     display: block;
    //     font-size: clamp(1.325rem, calc(1.59vw + 0.6rem), 1.75rem);
    //     font-weight: 600;
    //     margin-bottom: 0.5rem;
    // }


}