.messaging {
    $b: &;

    &__body {
        backdrop-filter: blur(1.4px);
        box-shadow: inset 0 0 0 0.125rem rgba($color-pink, 70%);
        padding: var(--space-m);
    }

    &--error {
        #{$b}__body {
            background-image: linear-gradient(
                135deg,
                rgba($color-error, 40%) 00%,
                rgba($color-white, 30%) 60%
            );
        }
    }

    &--info {
        #{$b}__body {
            background-image: linear-gradient(
                135deg,
                rgba($color-pink, 40%) 00%,
                rgba($color-white, 30%) 60%
            );
        }
    }

    &--success {
        #{$b}__body {
            background-color: rgba($color-success, 30%);
        }
    }
}
