.skeleton {
    $b: &;

    @keyframes load-skeleton {
        to {
            background-position: 200% 0;
        }
    }

    background-color: rgba($color-daisy-300, 60%);
    box-shadow: inset 0 0 0 0.125rem $color-daisy-300;
    display: grid;
    height: 100%;
    width: 100%;

    &__wrapper {
        @extend %grid;
        --grid-column-count: 6;
        --grid-row-gap: 0;
        grid-template-columns: var(--grid-columns-main);
        height: 100%;
    }

    &__media {
        @extend %grid;

        --grid-column-count: 6;
        --grid-row-gap: 0;

        align-items: center;
        background-color: var(--color-daisy-400);
        grid-column: main;
        grid-template-columns: var(--grid-columns-main);

        @include at(sm) {
            --grid-column-count: 1;

            grid-column: main-start / span 2;
        }
    }

    &__image {
        aspect-ratio: 1;
        grid-column: 2 / span 4;

        @include at(sm) {
            grid-column: 1 / -1;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
        grid-column: main;
        padding-bottom: var(--space-m);
        padding-left: var(--space-m);
        padding-right: var(--space-m);
        padding-top: var(--space-m);

        @include at(sm) {
            grid-column: auto / span 4;
            padding-left: 0;
        }
    }

    &__bone {
        background-attachment: fixed;
        background-color: var(--color-daisy-500);
        background-image: linear-gradient(-75deg, transparent 40%, var(--color-daisy-300), transparent 60%);
        background-position: 0 0;
        background-size: 200% 100%;
    }

    &__heading {
        height: 2.5rem;
    }

    &__module {
        height: 5rem;
    }

    &__module {
        & + & {
            height: 8rem;
        }
    }


    &--dynamic {
        #{$b}__bone {
            animation: load-skeleton 2s infinite linear;

            @media (prefers-reduced-motion) {
                animation: load-skeleton 6s infinite linear;
            }
        }
    }

}