.the-results {
    $b: &;

    --grid-edge: 0;
    @extend %grid;

    margin-bottom: var(--space-xl);
    margin-top: var(--space-xl);

    &__wrapper {
        @extend %grid;

        align-items: center;
        grid-template-columns: var(--grid-columns-main);
        grid-column: main;
    }

    &__headingWrapper {

        grid-column: main;
        text-align: center;
    }

    &__heading {
        @extend %heading-accent;
    }

    &__list {
        @extend %grid;

        grid-template-columns: var(--grid-columns-main);
        grid-column: main;

        &--placeholder {
            grid-row: 1  / auto;
        }
    }

    &__listItem {
        grid-column: main;

        @include at(lg) {
            grid-column: auto / span 6;
        }

        @include at(xxl) {
            grid-column: auto / span 4;
        }
    }

    &__card {
        height: 100%;
    }

    &__loadMore {
        grid-column: span 12;
        text-align: center;
    }

    &__empty {
        background-color: rgba($color-white, 20%);
        border: 0.0625rem solid $color-white;
        font-size: var(--step--1);
        font-weight: 600;
        grid-column: span 12;
        padding-bottom: var(--space-m);
        padding-left: var(--space-m);
        padding-right: var(--space-m);
        padding-top: var(--space-m);
        position: relative;
        text-align: center;
        text-shadow: 0.1275em 0.1175em var(--color-gray-300), 0.1875em 0.1875em var(--color-gray-200);

        @include at(lg) {
            grid-column: 3 / span 8;
        }
    }
}