.the-results {
    $b: &;

    @extend %grid;

    --grid-row-gap: 0;

    margin-bottom: var(--space-l);
    margin-top: var(--space-l);

    &__amount {
        text-decoration: underline;
        text-underline-offset: 0.275em;
        text-decoration-color: var(--color-pink);
        text-decoration-thickness: 0.125em;
    }

    &__list {
        @extend %grid;

        --grid-custom-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
    }

    &__listItem {
        grid-column: span 12;

        @include at(lg) {
            grid-column: auto / span 6;
        }

        @include at(xxl) {
            grid-column: auto / span 6;
        }
    }

    &__card {
        height: 100%;
    }

    &__loadMore {
        grid-column: span 12;
        text-align: center;
    }

    &__empty {
        background-color: var(--color-mischka);
        border: 0.25rem dotted var(--color-gray-300);
        font-size: var(--step--1);
        grid-column: span 12;
        padding-bottom: var(--space-m);
        padding-left: var(--space-m);
        padding-right: var(--space-m);
        padding-top: var(--space-m);
        position: relative;
        text-align: center;

        @include at(lg) {
            grid-column: 3 / span 8;
        }
    }
}