.site {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    &__footer {
        font-size: var(--step--1);
        margin-bottom: var(--space-2xs);
        margin-top: auto;
        padding-left: var(--grid-gutter-sm);
        padding-right: var(--grid-gutter-sm);
        padding-top: var(--space-2xs);
        text-align: center;
    }
}
